<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

  <main>
    <h1 class="heading">Add a Product</h1>

    <form action="/products/add" method="POST" class="form">
      <div class="form__group">
        <label for="name" class="form__label">Product Name</label>
        <input type="text" id="name" name="name" required class="form__input">
      </div>

      <div class="form__group">
        <label for="description" class="form__label">Product Description</label>
        <input type="text" id="description" name="description" required class="form__input">
      </div>

      <button type="submit" class="button">Add Product</button>
    </form>
  </main>
</body>
</html>

