<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

  <main>
    <h1>Welcome to the Product Shop!</h1>
    <p>Use the navigation to browse products, add new ones or view the latest.</p>
  </main>
</body>
</html>
