<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

  <main>
    <h1>All Products</h1>
    <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
          <li><strong><%= product.title %></strong>: <%= product.description %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No products found.</p>
    <% } %>
  </main>
</body>
</html>
